/* Auth.css */

/* Shared styles for both Login and Signup components */
.auth-container {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    text-align: center;
  }
  
  .auth-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .auth-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .auth-container button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .auth-container button:hover {
    background-color: #0056b3;
  }
  
  .auth-container p {
    font-size: 14px;
    margin-top: 10px;
  }
  
  .auth-container span {
    color: #007bff;
    cursor: pointer;
    text-decoration: underline;
  }
  